/*html,body{height:100%;margin:20px;overflow:hidden;font-family:"Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light", sans-serif, "Droid Sans Fallback";font-size:12px}*/

/*.typeahead {
  width: 200px;
}*/

html {
    overflow-y: scroll;
}

.typeahead ul, .typeahead li {
  list-style-type: none;
  list-style-position:inside;
  margin: 0;
  padding: 0;
}

.typeahead input {
  width: 100%;
}

.typeahead .options li {
  padding: 4px;
}

.typeahead .options li:hover {
  background-color: #eeeeee;
}

.typeahead .options li.selected {
  background-color: #ffffee;
}

.multi-selection div:first-child {
  border: 1px solid #eeeeee;
  padding: 5px 0;
}

.multi-selection input {
  width: 200px;
}

.multi-selection .selections {
  display: inline;
  padding: 10px 0;
}
.multi-selection .selections li {
  display: inline;
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #eeeeee;
}

.multi-selection .selections i {
  margin-left: 10px;
  cursor: pointer;
}

svg {
  display: block;
  margin-bottom: 10px;
  border: 1px solid gray;
}
g#carousel {
  -webkit-transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
}
polygon {
  stroke: #808000;
  transition: fill 0.5s linear;
}
polygon#yellow {
  fill: rgba(255,255,0,0.4);
}
polygon#yellow:hover, polygon#yellow:active {
  fill: yellow;
}
polygon#green {
  fill: rgba(0,128,0,0.4);
}
polygon#green:hover, polygon#green:active {
  fill: green;
}
polygon#magenta {
  fill: rgba(255,0,255,0.4);
}
polygon#magenta:hover, polygon#magenta:active {
  fill: magenta;
}
polygon#red {
  fill: rgba(255,0,0,0.4);
}
polygon#red:hover, polygon#red:active {
  fill: red;
}
polygon#cyan {
  fill: rgba(0,255,255,0.4);
}
polygon#cyan:hover, polygon#cyan:active {
  fill: cyan;
}
polygon#blue {
  fill: rgba(0,0,255,0.4);
}
polygon#blue:hover, polygon#blue:active {
  fill: blue;
}

.playground .row {
  padding-bottom: 10px;
}

.playground .textarea {
  display: none;
}

.playground iframe {
  width: 100%;
  height: calc(100vh - 200px);
}

.playground .CodeMirror {
  border: solid 1px black;
  width: 100%;
  height: calc(100vh - 200px);
}

