/*html,body{height:100%;margin:20px;overflow:hidden;font-family:"Segoe WPC", "Segoe UI", "SFUIText-Light", "HelveticaNeue-Light", sans-serif, "Droid Sans Fallback";font-size:12px}*/

/*.typeahead {
  width: 200px;
}*/

html {
    overflow-y: scroll;
}

.typeahead ul, .typeahead li {
  list-style-type: none;
  list-style-position:inside;
  margin: 0;
  padding: 0;
}

.typeahead input {
  width: 100%;
}

.typeahead .options li {
  padding: 4px;
}

.typeahead .options li:hover {
  background-color: #eeeeee;
}

.typeahead .options li.selected {
  background-color: #ffffee;
}

.multi-selection div:first-child {
  border: 1px solid #eeeeee;
  padding: 5px 0;
}

.multi-selection input {
  width: 200px;
}

.multi-selection .selections {
  display: inline;
  padding: 10px 0;
}
.multi-selection .selections li {
  display: inline;
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #eeeeee;
}

.multi-selection .selections i {
  margin-left: 10px;
  cursor: pointer;
}

.hn ul {
  list-style: none;
  margin-left: -30px;
}

.hn .header {
  position: fixed;
  background-color: white;
  z-index: 1;
  top: 50px;
  width: 100%;
  padding: 15px 0;
}

.hn .story {
  clear: left;
  padding-top: 2px;
}

.hn .story-list {
  list-style: none;
  margin-left: -50px;
  padding-top: 10px;
}

.hn .story-list li {
  padding: 10px 0;
}

.hn .score {
  color: #666;
  font-size: 1.1em;
  font-weight: 700;
  width: 60px;
  height: 60px;
  text-align: center;
  float:left;
  padding-top: 10px;
}

.hn .meta {
  color: #aaa;
}

.hn .meta a {
  color: #096;
  cursor: pointer;
}

.hn.item .list {
  padding-top: 80px
}

.hn .comment {
  padding: 5px 10px;
  border-left: 1px solid #eeeeee;
}

.hn .text {
  padding: 10px 0;
}

.hn .toggle {
  color: #096;
  padding-bottom: 10px;
  cursor: pointer;
}

.hn .collapsed {
  display: none;
}

.hn .toggle:before {
  content: ' [-] '
}

.hn .toggle.closed:before {
  content: ' [+] '
}

.hn .toggle.closed:after{
  content: ' (...)'
}

.hn .loading {
  padding-top: 20px;
}

.hn .more a {
  cursor: pointer;
  padding-bottom: 150px;
}

.panel-container {
  border: 1px solid #eeeeee;
  height: calc(100vh - 120px);
  overflow-x: scroll;
  white-space: nowrap;
}
.panel {
  height: calc(100vh - 180px);
  min-width: 300px;
  display: inline-block;
  float: none;
  vertical-align: text-top;
}
svg {
  display: block;
  margin-bottom: 10px;
  border: 1px solid gray;
}
g#carousel {
  -webkit-transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
}
polygon {
  stroke: #808000;
  transition: fill 0.5s linear;
}
polygon#yellow {
  fill: rgba(255,255,0,0.4);
}
polygon#yellow:hover, polygon#yellow:active {
  fill: yellow;
}
polygon#green {
  fill: rgba(0,128,0,0.4);
}
polygon#green:hover, polygon#green:active {
  fill: green;
}
polygon#magenta {
  fill: rgba(255,0,255,0.4);
}
polygon#magenta:hover, polygon#magenta:active {
  fill: magenta;
}
polygon#red {
  fill: rgba(255,0,0,0.4);
}
polygon#red:hover, polygon#red:active {
  fill: red;
}
polygon#cyan {
  fill: rgba(0,255,255,0.4);
}
polygon#cyan:hover, polygon#cyan:active {
  fill: cyan;
}
polygon#blue {
  fill: rgba(0,0,255,0.4);
}
polygon#blue:hover, polygon#blue:active {
  fill: blue;
}